/* ------font link------- */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto:wght@400;500;700&display=swap');

.top-banner {
    height: 481px;
}

.top-banner h1{
    font-family: 'Berkshire Swash', cursive;
}
p {
    font-family: 'Roboto', sans-serif;
}

.info-and-calculation div:first-child{
    min-height: 380px;
}

/* font-family: 'Berkshire Swash', cursive;
font-family: 'Roboto', sans-serif; */